{% extends "base.html" %} {% block content %}

<div class="box">
    <h1>Authenticate</h1>
    <!-- TODO: Use Message Flashing to display feedback to the user with a <p> -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="{{ url_for('otp') }}" method="post">
        <input type="number" name="otp" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">
            Let me in.
        </button>
    </form>
</div>

{% endblock %}